.footer {
    width: 100%;
    background-color: var(--rosa600);
    color: var(--branco); /* cor de todos os textos do footer*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 71px;
    padding-top: 47px;
    padding-bottom: 28px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-infomacoes {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.infomacoes-contatos,
.informacoes-redes-sociais,
.informacoes-ajuda {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 10px;
}

.titulo-informacoes {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 2rem;
}

.contato,
.redes-sociais,
.ajuda {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
}

.contato-item,
.redes-sociais-item,
.ajuda-item {
    display: flex;
    min-width: 220px;
    gap: 10px;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
}

.footer-creditos {
    font-family: Inter;
    font-weight: 300;
    font-size: 13px;
}
