.footer {
    min-width: 100%;
    background-color: var(--rosa600);
    color: var(--branco); /* cor de todos os textos do footer*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 71px;
    padding-top: 47px;
    padding-bottom: 28px;
    overflow: hidden;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-infomacoes {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.infomacoes-contatos,
.informacoes-redes-sociais,
.informacoes-ajuda {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 10px;
}

.titulo-informacoes {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 2rem;
}

.contato,
.redes-sociais,
.ajuda {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
}

.contato-item,
.redes-sociais-item,
.ajuda-item {
    display: flex;
    min-width: 220px;
    gap: 10px;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
}

.footer-creditos {
    font-family: Inter;
    font-weight: 300;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column; 
    }

    .footer-content{
        width: 100%;
        flex-direction: column; 
        align-items: flex-start;
        gap: 0;
    }

    .footer-infomacoes{
        flex-direction: column; 
        padding-left: 20px;
        gap: 0;
    }

    .logo-e-descricao{
        min-width: 50px;
        transform: scale(0.8);
        padding: 0 20%;
    }
}