body {
  margin: 0;
  box-sizing: border-box;

}

.auth-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: var(--laranja500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.sideart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;;
  width: 60vw;
  box-sizing: border-box;
  overflow: hidden;
}

.imagem-mascote{
  background-color: aqua;
  width: 100%;
  height: 70%;
  position: relative;
  overflow: hidden;
}

.imagem-mascote img {
  background-color: blueviolet;
  width: 100vw;
  height: 100%;
  position:absolute;
  left: -60%;
}

.imagem-logo{
  background-color: blue;
  width: 100%;
  height: 30%;
}

.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 40vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
}