*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

    --laranja200: #fdbb9f;
    --laranja300: #f78420;
    --laranja400: #c06516;
    --laranja500: #8c490d;
    --laranja600: #5b2d05;
    --branco: #FFFFFF;
    --rosa600: #81013A;
    --cinza500: #5A5A5A;
    --cinza600: #393939;
    --verdeoliva200:#A1D54A;


}

